@charset "utf-8";

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
  line-height: 1.5;
  text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--text-color-main);
  background-color: var(--bg-color-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;
  overflow: hidden;
}

dd,
dl,
figure,
ul,
ol,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  color: inherit;
}

ul {
  list-style: none;
}

li {
  display:block;
}

label {
  cursor: pointer;
  user-select: none;
}

input,
button {
  padding: 0;
  border: none;
}

a {
  display: block;
  height: 100%;
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  border: 0;
  user-select: none;
}
