@charset "utf-8";

.time-line-container {
  display: grid;
  height: 100vh;
  padding: 24px;
  overflow-y: auto;
  scrollbar-width: none;
}
.time-line-container::-webkit-scrollbar { 
  display: none;
}
