{% extends 'layout.html' %}

<!-- Title -->
{% block title %}プロフィール編集{% endblock %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">
{% endblock %}

{% block main_content %}
<!-- Edit Profile Section -->
{% include 'components/edit_profile_form.html' %}
{% endblock %}

<!-- Script -->
{% block script %}
<script type="module" src="{{ url_for('static', filename='js/pages/edit_profile.js') }}" defer></script>
{% endblock %}
