{% extends 'layout.html' %}

<!-- Title -->
{% block title %}scramble! - スクランブル！{% endblock %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block main_content %}
<!-- Timeline Section -->
{% include 'components/timeline.html' %}
{% endblock %}

{% block script %}
<script type="module" src="{{ url_for('static', filename='js/pages/timeline.js') }}" defer></script>
{% endblock %}
