{% extends 'base.html' %}

<!-- Title -->
{% block title %}ソーシャルメディアアプリ{% endblock %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/timeline.css') }}">
{% endblock %}

<!-- Root Block Content -->
{% block root_content %}

<!-- Header Block Content -->
{% block header_content %}
<header class="root-header">
  <!-- Logo -->
  <h1 class="logo"><a href="{{ url_for('main.index') }}">LOGO</a></h1>

  <!-- Flash Massage -->
  <div class="flash-message-box">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <p class="flash-message {{ messages[0][0] }}">
      {{ messages[0][1] }}
      {% if current_user.is_authenticated %}
      <div class="welcome-message">
        <span class="user-name">{{ current_user.username }}</span>
        <span>さん！</span>
      </div>
      {% endif %}
    </p>
    {% endif %}
    {% endwith %}
  </div>

  <!-- グローバルナビゲーション -->
  <nav class="global-nav" aria-label="グローバルナビゲーション">
    <ul>
      {% if current_user.is_authenticated %}
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="ホームに戻る">
          <img class="nav-icon" src="{{ url_for('static', filename='images/home.svg') }}" alt="ホームアイコン">
          ホーム
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="検索">
          <img class="nav-icon" src="{{ url_for('static', filename='images/search.svg') }}" alt="検索アイコン">
          検索
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="おしらせ">
          <img class="nav-icon" src="{{ url_for('static', filename='images/notify.svg') }}" alt="おしらせアイコン">
          おしらせ
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="お気に入り">
          <img class="nav-icon" src="{{ url_for('static', filename='images/bookmark.svg') }}" alt="お気に入りアイコン">
          お気に入り
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="メッセージ">
          <img class="nav-icon" src="{{ url_for('static', filename='images/message.svg') }}" alt="メッセージアイコン">
          メッセージ
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="プロフィール">
          <img class="nav-icon profile-icon" src="{{ url_for('static', filename='images/profile.svg') }}" alt="プロフィールアイコン">
          {{ current_user.username }}
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.index') }}" aria-label="設定">
          <img class="nav-icon" src="{{ url_for('static', filename='images/settings.svg') }}" alt="設定アイコン">
          設定
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.logout') }}" aria-label="ログアウト">
          <img class="nav-icon" src="{{ url_for('static', filename='images/logout.svg') }}" alt="ログアウトアイコン">
          ログアウト
        </a>
      </li>
      {% else %}
      <li>
        <a href="{{ url_for('main.register') }}" role="link" aria-label="アカウントを作成する">
          <img class="nav-icon" src="{{ url_for('static', filename='images/signup.svg') }}" alt="アカウント作成アイコン">
          アカウントを作成する
        </a>
      </li>
      <li>
        <a href="{{ url_for('main.login') }}" role="link" aria-label="ログイン">
          <img class="nav-icon" src="{{ url_for('static', filename='images/login.svg') }}" alt="ログインアイコン">
          ログイン
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</header>
{% endblock %}<!-- Header -->

<!-- Main Contents -->
{% block main_content %}
<section class="time-line">
  {% if current_user.is_authenticated %}
  <!-- Feed Select -->
  <div class="feed-select">
    <ul>
      <li><a href="#">おすすめ</a></li>
      <li><a href="#">フォロー</a></li>
    </ul>
  </div>
  {% endif %}

  <div class="post">
    <!-- header -->
    <header class="post__header">
      <div class="post__header--item user-icon"></div>
      <div class="post__header--item user-name">テスト</div>
      <div class="post__header--item user-id">test_1111</div>
      <div class="post__header--item date">20分前</div>
      <div class="post__header--item option">
        <img src="{{ url_for('static', filename='images/post_menu.svg') }}" alt="オプションアイコン">
      </div>
    </header>
    <!-- content -->
    <div class="post__content">
      <p class="post__content--text">これは投稿の内容です。</p>
    </div>
    <!-- footer -->
    <footer class="post__footer">
      <div class="post__footer--icon" aria-label="いいね">
        <img data-id="like" src="{{ url_for('static', filename='images/like.svg') }}" alt="いいねアイコン">
      </div>
      <div class="post__footer--icon" aria-label="コメント">
        <img src="{{ url_for('static', filename='images/comment.svg') }}" alt="コメントアイコン">
      </div>
      <div class="post__footer--icon" aria-label="引用投稿">
        <img data-id="quote" src="{{ url_for('static', filename='images/quote.svg') }}" alt="引用投稿アイコン">
      </div>
      <div class="post__footer--icon" aria-label="ブックマーク">
        <img data-id="bookmark" src="{{ url_for('static', filename='images/bookmark.svg') }}" alt="ブックマークアイコン">
      </div>
      <div class="post__footer--icon" aria-label="インサイト">
        <img src="{{ url_for('static', filename='images/view.svg') }}" alt="インサイトアイコン">
      </div>
      <div class="post__footer--icon share"aria-label="シェア">
        <img src="{{ url_for('static', filename='images/share.svg') }}" alt="シェアアイコン">
      </div>
    </footer>
  </div>

  <div class="post">
    <!-- header -->
    <header class="post__header">
      <div class="post__header--item user-icon"></div>
      <div class="post__header--item user-name">テスト</div>
      <div class="post__header--item user-id">test_1111</div>
      <div class="post__header--item date">20分前</div>
      <div class="post__header--item option">
        <img src="{{ url_for('static', filename='images/post_menu.svg') }}" alt="オプションアイコン">
      </div>
    </header>
    <!-- content -->
    <div class="post__content">
      <img class="post__content--img" src="{{ url_for('static', filename='images/test.jpg') }}" loading="lazy"></img>
    </div>
    <!-- footer -->
    <footer class="post__footer">
      <div class="post__footer--icon" aria-label="いいね">
        <img data-id="like" src="{{ url_for('static', filename='images/like.svg') }}" alt="いいねアイコン">
      </div>
      <div class="post__footer--icon" aria-label="コメント">
        <img src="{{ url_for('static', filename='images/comment.svg') }}" alt="コメントアイコン">
      </div>
      <div class="post__footer--icon" aria-label="引用投稿">
        <img data-id="quote" src="{{ url_for('static', filename='images/quote.svg') }}" alt="引用投稿アイコン">
      </div>
      <div class="post__footer--icon" aria-label="ブックマーク">
        <img data-id="bookmark" src="{{ url_for('static', filename='images/bookmark.svg') }}" alt="ブックマークアイコン">
      </div>
      <div class="post__footer--icon" aria-label="インサイト">
        <img src="{{ url_for('static', filename='images/view.svg') }}" alt="インサイトアイコン">
      </div>
      <div class="post__footer--icon share"aria-label="シェア">
        <img src="{{ url_for('static', filename='images/share.svg') }}" alt="シェアアイコン">
      </div>
    </footer>
  </div>

  <div class="post">
    <!-- header -->
    <header class="post__header">
      <div class="post__header--item user-icon"></div>
      <div class="post__header--item user-name">テスト</div>
      <div class="post__header--item user-id">test_1111</div>
      <div class="post__header--item date">20分前</div>
      <div class="post__header--item option">
        <img src="{{ url_for('static', filename='images/post_menu.svg') }}" alt="オプションアイコン">
      </div>
    </header>
    <!-- content -->
    <div class="post__content">
      <p class="post__content--text">
        これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。これは投稿の内容です。
      </p>
    </div>
    <!-- footer -->
    <footer class="post__footer">
      <div class="post__footer--icon" aria-label="いいね">
        <img data-id="like" src="{{ url_for('static', filename='images/like.svg') }}" alt="いいねアイコン">
      </div>
      <div class="post__footer--icon" aria-label="コメント">
        <img src="{{ url_for('static', filename='images/comment.svg') }}" alt="コメントアイコン">
      </div>
      <div class="post__footer--icon" aria-label="引用投稿">
        <img data-id="quote" src="{{ url_for('static', filename='images/quote.svg') }}" alt="引用投稿アイコン">
      </div>
      <div class="post__footer--icon" aria-label="ブックマーク">
        <img data-id="bookmark" src="{{ url_for('static', filename='images/bookmark.svg') }}" alt="ブックマークアイコン">
      </div>
      <div class="post__footer--icon" aria-label="インサイト">
        <img src="{{ url_for('static', filename='images/view.svg') }}" alt="インサイトアイコン">
      </div>
      <div class="post__footer--icon share"aria-label="シェア">
        <img src="{{ url_for('static', filename='images/share.svg') }}" alt="シェアアイコン">
      </div>
    </footer>
  </div>
</section>
{% endblock %}<!-- Timeline -->

<!-- Sidebar -->
{% block aside_content %}
<aside class="sidebar">
</aside>
{% endblock %}<!-- Sidebar -->

{% endblock %}<!-- Root -->
