<!doctype html>
<html lang="jp">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}{% endblock %}</title>
  
  <!-- CSS -->
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/variables.css') }}" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/common.css') }}" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/root.css') }}" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/loading.css') }}" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/header.css') }}" onload="this.rel='stylesheet'">
  <link rel="preload" as="style" href="{{ url_for('static', filename='css/footer.css') }}" onload="this.rel='stylesheet'">
  
  <!-- Preload Noto Sans JP フォント -->
  <link rel="preload" href="{{ url_for('static', filename='font/Noto_Sans_JP/NotoSansJP-Regular.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Noto_Sans_JP/NotoSansJP-Regular.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Noto_Sans_JP/NotoSansJP-Bold.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Noto_Sans_JP/NotoSansJP-Bold.woff') }}" as="font" type="font/woff" crossorigin="anonymous">

  <!-- Preload Roboto フォント -->
  <link rel="preload" href="{{ url_for('static', filename='font/Roboto/Roboto-Regular.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Roboto/Roboto-Regular.woff') }}" as="font" type="font/woff" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Roboto/Roboto-Bold.woff2') }}" as="font" type="font/woff2" crossorigin="anonymous">
  <link rel="preload" href="{{ url_for('static', filename='font/Roboto/Roboto-Bold.woff') }}" as="font" type="font/woff" crossorigin="anonymous">

  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  {% block head %}{% endblock %}
</head>

<body>
  <!-- Loading Screen -->
  <!-- <div class="loading-screen" id="loading-screen">
    <h1>scramble!</h1>
    <div class="background-lines">
      <div class="line horizontal"></div>
      <div class="line vertical"></div>
    </div>
  </div> -->
  
  <!-- Root Element -->
  <div class="root-container">
    <!-- Header Section -->
    {% include 'components/header.html' %}
    
    <!-- Main Contents Section -->
    <main class="main-container">
    {% block main_content %}{% endblock %}
    </main>
    
    <!-- Footer Section -->
    {% include 'components/footer.html' %}
  </div>
  
  <!-- <script src="{{ url_for('static', filename='js/loading.js') }}" defer></script> -->
  <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
  {% block script %}{% endblock %}
</body>
</html>
