{% extends 'layout.html' %}

<!-- Title -->
{% block title %}アカウント新規作成{% endblock %}

<!-- Head -->
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/post.css') }}">
{% endblock %}

{% block main_content %}
<!-- Profile Section -->
{% include 'components/profile.html' %}
{% endblock %}

<!-- Script -->
{% block script %}
<script type="module" src="{{ url_for('static', filename='js/pages/profile.js') }}" defer></script>
{% endblock %}
